.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
__pycache__/
*.py[cod]
override.tf
override.tf.json
*_override.tf
*_override.tf.json

config_fetch/aws_gpu_capture/.generated/
